.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    // font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .button:focus {
    outline: none;
  }

  /* 어두운 톤으로 변경된 버튼 스타일 */
  .button-dark {
    background-color: #34495e; /* 어두운 톤의 배경색 */
    color: #ecf0f1; /* 글자 색상 */
    
  }
  .button-dark:hover {
    background-color: #282325;
  }