@font-face {
  font-family: 'Noto Sans';
  src: url('../public/fonts/NotoSansKR-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Noto Sans', sans-serif;
}